<header class="main-header">
    <div class="container">
        <div class="main-header__wrapper">
            <a class="main-header__logo" href="/">
                <img src="/src/assets/images/we-logo.svg" alt="Company logo" width="47" height="27">
            </a>
            
            <nav>
                <button>
                    <svg
                    class="menu-open__icon"
                    width="32"
                    height="32"
                    stroke="var(--color-black)"
                    aria-controls="mobile-menu"
                    aria-expanded="false"
                    role="img"
                  >
                </button>
            </nav>
        </div>
    </div>
</header>
