<footer class="main-footer">
    <div class="container">
        <div class="main-footer__wrapper">
            <p class="main-footer__company-logo">We</p>
            <ul class="main-footer__nav-list">
                <li class="main-footer__nav-list-item">
                    <a class="main-footer__nav-list-item-link" href="">Home</a>
                </li>
                <li class="main-footer__nav-list-item">
                    <a class="main-footer__nav-list-item-link" href="">About Us</a>
                </li>
                <li class="main-footer__nav-list-item">
                    <a class="main-footer__nav-list-item-link" href="">Frecuently Questions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>