.main-footer {
    background-color: #292929;
    padding: 145px 0 75px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__company-logo {
        color: #fff;
        font-size: 32px;
    }

    &__nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px
    }

    &__nav-list-item-link {
        color: #fff;
        font-size: 20px;
    }
}